{% extends 'layout.html'%} {% block content %} {% load static %}


<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/perfil.jpeg' %}" width="300px" alt="logo">
    </div>
    <div class="col-md-8 my-auto">
        <h1>I am <strong>Joseph Valencia</strong></h1>
        <h3>I am a <strong>Web Developer</strong></h3>
        <p>Hello, My name is Joseph Valencia, Front-end web developer and soon full-stack, passionate about programming and technology, a guy with many dreams and aspirations within the world of programming. My dreams and aspirations are, to become a senior programmer.
            <div class="container" style="margin-top:20px">
                <div class="row">
                    
        <div class="col-sm-5">
            I have 2 years of experience programming in web tools:<br>
            HTML<br>
            CSS<br>
            JS<br>
            Bootstrap<br>
            Git<br>
            <br>
        </div>
        <div class="col-sm-5">
            My Favorite Hobbies:
            Watching movies and series.<br>
            Listen to music<br>
            Draw<br>
            Play video games and above all programing.</p>
            </div>
            <div class="col-sm-5">   
 <p style="font-size: 15px;">I have some experience in frameworks such as:<br>
    DJango, Flutter, MongoDB, MySQL, React, Node, etc.</p>
            </div>
            <div class="col-sm-5">
                <p>languages I would like to learn:<br>
                    C#, C++, Python, .Net, etc.</p>
            </div>
            
        <a href="{% static 'portfolio/CV.pdf' %}" target="_blank" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>

</header>



<div class="row my-4 text-center">

    <h3>My Projects</h3>
    <p>these projects are found both on GitHub and on the Net</p>

    {% for project in projects %}

    <style>
        .card-project:hover {
            border: 1px solid #fff;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    </style>

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <div class="card-body">

                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <img src="{{project.image.url}}" alt="{{ project.title }}" class="card-img-top" /> {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light mt-2 rounded-0 btn-sm" target="_blank">{{project.url|truncatechars:40}}</a> {% endif %}
            </div>
        </div>
    </div>

    {% endfor %} {% endblock %}
</div>